* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: #674baf;
  background-image: url("/assets/img/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: top center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0 auto;
  padding: 35px 15px 0 15px;
}

.header img {
  display: inline-block;
  width: 140px;
  height: auto;
  margin-top: 5px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__image {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.main__image img {
  width: 370px;
  height: auto;
  object-fit: cover;
}

.main .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .description h1 {
  margin-top: 40px;
  font-size: 27px;
  color: #FFF;
  text-align: center;
}

.main .description p {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.main .description button {
  margin-top: 10px;
  padding: 13px 80px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  color: #674baf;
  box-shadow: 0 3px 5px 1px #523c8b;
  background-color: #FFF;
  transition: all 0.2s;
}

.main .description button:hover {
  color: #FFF;
  background-color: #e882e8;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

.footer a {
  display: block;
  margin-left: 10px;
  text-decoration: none;
}

.footer a .fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  border: 1px solid #FFF;
  border-radius: 50px;
  color: #FFF;
  transition: all 0.2s;
}

.footer a .fa-brands:hover {
  border-color: #e057e0;
  color: #e057e0;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("/assets/img/bg-desktop.svg");
    background-size: contain;
    background-position: -50px, 150px;
  }
  .wrapper {
    width: fit-content;
    padding: 50px 50px 0 50px;
  }
  .header img {
    width: 200px;
  }
  .main {
    flex-direction: row;
    margin-top: 45px;
  }
  .main__image {
    width: 50%;
    margin-top: 35px;
  }
  .main__image img {
    width: auto;
    height: 100%;
  }
  .main .description {
    align-items: flex-start;
    width: 50%;
    margin-top: 40px;
    padding-left: 80px;
  }
  .main .description h1 {
    width: 550px;
    text-align: left;
    font-size: 45px;
  }
  .main .description p {
    width: 550px;
    text-align: left;
    font-size: 19px;
  }
  .footer {
    justify-content: flex-end;
    height: 80px;
    padding-right: 50px;
  }
}
